# 2020 Önálló kutatási feladat

In [2]:
import pandas as pd

## Stock data preprocessing

In [44]:
stock = pd.read_csv('..\Adatok\stock-data\SP500.csv')

stock = stock.drop(columns=['High','Low','Adj Close','Volume'])
stock['Date'] = pd.to_datetime(stock['Date'])

def Change(row):
    return (row['Close']-row['Open'])
stock['Change'] = stock.apply (lambda row: Change(row), axis=1)

def label(row, threshold): 
    if abs(row['Change']) > threshold:
        if row['Change'] > 0: return int(1)
        else: return int(0)


def generate_data(sensitivity):
    stock['Label'] = stock.apply (lambda row: label(row, sensitivity), axis=1)
    stock_ready = stock.drop(columns=['Open', 'Close', 'Change'])
    stock_ready = stock_ready[stock_ready.Label.notna()]
    return stock_ready 

stock

           Date         Open        Close     Change
0    2000-01-03  1469.250000  1455.219971 -14.030029
1    2000-01-04  1455.219971  1399.420044 -55.799927
2    2000-01-05  1399.420044  1402.109985   2.689941
3    2000-01-06  1402.109985  1403.449951   1.339966
4    2000-01-07  1403.449951  1441.469971  38.020020
...         ...          ...          ...        ...
5164 2020-07-14  3141.110107  3197.520020  56.409913
5165 2020-07-15  3225.979980  3226.560059   0.580079
5166 2020-07-16  3208.360107  3215.570068   7.209961
5167 2020-07-17  3224.209961  3224.729980   0.520019
5168 2020-07-20  3224.290039  3251.840088  27.550049

[5169 rows x 4 columns]

### Itt tudjuk a *generate_data* függvény paraméterével állítani, hogy milyen mértékű változást veszünk figyelembe.

In [37]:
generate_data(20)

            Date  Label
1     2000-01-04    0.0
4     2000-01-07    1.0
14    2000-01-24    0.0
18    2000-01-28    0.0
19    2000-01-31    1.0
...          ...    ...
5161  2020-07-09    0.0
5162  2020-07-10    1.0
5163  2020-07-13    0.0
5164  2020-07-14    1.0
5168  2020-07-20    1.0

[793 rows x 2 columns]

In [51]:
tweets_dem = pd.read_csv('..\Adatok\obama\obama-tweets.csv')
tweets_dem = tweets_dem.drop(columns=['Username', 'Tweet Link', 'Retweets', 'Likes', 'TweetImageUrl', 'Image'])
tweets_dem['Date'] = pd.to_datetime(tweets_dem['Date'], format='%Y/%m/%d_%H:%M')
tweets_dem = tweets_dem[tweets_dem.Date < pd.to_datetime('2017-01-21')]

tweets_dem

                    Date                                         Tweet-text
173  2017-01-20 13:05:00  In the meantime I want to hear what you're thi...
174  2017-01-20 13:04:00  Hi everybody! Back to the original handle. Is ...
175  2017-01-10 15:44:00  Tonight President Obama reflects on eight year...
176  2016-11-05 08:38:00  In the weekly address President Obama discusse...
177  2016-11-04 15:16:00  Let's keep working to keep our economy on a be...
...                  ...                                                ...
6846 2012-11-06 05:12:00  25 reasons that 25 people are voting for Presi...
6847 2012-11-06 04:49:00  At the final rally of his final campaign last ...
6848 2012-11-06 04:00:00  It’s Election Day! This is your last chance to...
6849 2012-11-06 03:28:00  Election Day is here! Confirm your polling pla...
6850 2012-11-05 22:07:00  President Obama tells the story of "Fired up! ...

[6678 rows x 2 columns]

In [60]:
tweets_gop = pd.read_csv('../Adatok/trump/trump-tweets.csv')
tweets_gop = tweets_gop.drop(columns=['id', 'link', 'retweets', 'favorites', 'mentions', 'hashtags'])
tweets_gop['date'] = pd.to_datetime(tweets_gop['date'])
tweets_gop = tweets_gop[['date', 'content']]
tweets_gop = tweets_gop[ pd.to_datetime('2017-01-19') < tweets_gop.date]

tweets_gop

                     date                                            content
31241 2017-01-19 06:52:22  "It wasn't Donald Trump that divided this coun...
31242 2017-01-19 07:00:13  Getting ready to leave for Washington, D.C. Th...
31243 2017-01-19 07:02:18  the American people. I have no doubt that we w...
31244 2017-01-19 14:13:57  On my way! # Inauguration2017https://twitter.c...
31245 2017-01-19 14:18:32  Great Concert at 4:00 P.M. today at Lincoln Me...
...                   ...                                                ...
43347 2020-06-17 19:00:32  Joe Biden was a TOTAL FAILURE in Government. H...
43348 2020-06-17 19:11:47  Will be interviewed on @ seanhannity tonight a...
43349 2020-06-17 21:27:33                         pic.twitter.com/3lm1spbU8X
43350 2020-06-17 21:28:38                         pic.twitter.com/vpCE5MadUz
43351 2020-06-17 21:28:52                         pic.twitter.com/VLlc0BHW41

[12111 rows x 2 columns]